html, body {
  height: 100%;
  margin: 0;
}


body {  
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3a8c5;
        
    }

.raycaster {
  display: flex;
  flex-direction: row;
}

.canvas-container {
  margin: 32px;
}
    