web_raycaster/
resources/

node_modules/

dist/
build/
out/
*.log

.npm/
.eslintcache
.cache/

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.env.local